

<div>
<div>
    <button class="weekblock">
        <input type="week">
      </button>
</div>


<table class="table table-striped table-hover table-bordered table-responsive">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ProjectID</th>
        <th scope="col">TaskID</th>
        <th scope="col">WorkingHours</th>
        <th scope="col">Mon</th>
        <th scope="col">Tue</th>
        <th scope="col">Wed</th>
        <th scope="col">Thu</th>
        <th scope="col">Fri</th>
        <th scope="col">Sat</th>
        <th scope="col">Sun</th>
        <th scope="col">Total Hours</th>
        <th scope="col">Comments</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of logdata">
        <td>{{user.id}}</td>
        <td>
            <div *ngIf="user.isEdit">
                <select>
                    <option value="Prj1">Project001</option>
                    <option value="Prj2">Project002</option>
                    <option value="Prj3">Project003</option>
                    <option value="Prj4">Project004</option>
                  </select>            
            </div>
            <div *ngIf!="user.isEdit">
                {{user.ProjectID}}

            </div>
        </td>
        <!-- <td>
            <div *ngIf="user.isEdit">
                    <input type="text" [(ngModel)]="user.ProjectID" class="form-control" />
            </div>
            <div *ngIf!="user.isEdit">
                {{user.ProjectID}}

            </div>
        </td> -->
        <td>
            <div *ngIf="user.isEdit">
                <select>
                    <option value="Tsk1">Task001</option>
                    <option value="Tsk2">Task002</option>
                    <option value="Tsk3">Task003</option>
                    <option value="Tsk4">Task004</option>
                  </select>   
        </div>
        <div *ngIf!="user.isEdit">
            {{user.TaskID}}

        </div>
            </td>
        <td>
            <div *ngIf="user.isEdit">
                <select>
                    <option value="Regular">Regular</option>
                    <option value="Overtime">Overtime</option>
                    <option value="PublicHoliday">PublicHoliday</option>
                  </select> 
        </div>
        <div *ngIf!="user.isEdit">
            {{user.WorkingHours}}

        </div>
            </td>
        <td>
            <div *ngIf="user.isEdit">
                <input type="text" [(ngModel)]="user.Mon" class="form-control" />
        </div>
        <div *ngIf!="user.isEdit">
            {{user.Mon}}

        </div>
           </td>
        <td>        <div *ngIf="user.isEdit">
            <input type="text" [(ngModel)]="user.Tue" class="form-control" />
    </div>
    <div *ngIf!="user.isEdit">
        {{user.Tue}}

    </div>
         </td>
        <td>         <div *ngIf="user.isEdit">
            <input type="text" [(ngModel)]="user.Wed" class="form-control" />
    </div>
    <div *ngIf!="user.isEdit">
        {{user.Wed}}

    </div> 
</td>
        <td> 
            <div *ngIf="user.isEdit">
                <input type="text" [(ngModel)]="user.Thu" class="form-control" />
        </div>
        <div *ngIf!="user.isEdit">
            {{user.Thu}}

        </div>
        </td>
        <td>
            <div *ngIf="user.isEdit">
                <input type="text" [(ngModel)]="user.Fri" class="form-control" />
        </div>
        <div *ngIf!="user.isEdit">
            {{user.Fri}}

        </div>
        </td>
        <td>
            <div *ngIf="user.isEdit">
                <input type="text" [(ngModel)]="user.Sat" class="form-control" />
        </div>
        <div *ngIf!="user.isEdit">
            {{user.Sat}}

        </div>
         </td>
        <td>
            <div *ngIf="user.isEdit">
                <input type="text" [(ngModel)]="user.Sun" class="form-control" />
        </div>
        <div *ngIf!="user.isEdit">
            {{user.Sun}}

        </div>
         </td>
        <td>
            <div *ngIf="user.isEdit">
                <input type="text" [(ngModel)]="user.TotalHours" class="form-control" />
        </div>
        <div *ngIf!="user.isEdit">
            {{user.TotalHours}}

        </div>
        </td>
        <td> 
            <div *ngIf="user.isEdit">
                <input type="text" [(ngModel)]="user.Comments" class="form-control" />
        </div>
        <div *ngIf!="user.isEdit">
            {{user.Comments}}

        </div>
        </td>
        <td><button type="button" class="btn btn-primary" (click)="onEdit(user)">Edit</button></td>

        <td><button type="button" class="btn btn-primary" (click)="onEdit(user)">Save</button></td>

      </tr>
      
    </tbody>
  </table>
  
</div>