.weekblock
{
  margin-top:2rem;
  margin-left: 50px;

  border-radius: 5px;
  border: none;
  background-color: white;
  height: 50px;
  width: 120px;
}
table{
    margin-top: 50px;
}
select{
    height: 38px;
    border-radius: 5px;
    border:none
}